/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
body  {
    padding: 50px 50px 50px 50px;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    height: 200px;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  